<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en"><![endif]-->
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
  </head>
  <body style="max-width: 95%; margin: auto;">
      <img src='https://ci4.googleusercontent.com/proxy/pIk4EJDgcb65caYECZKY0nvio1FXNhWRzYBVrTpin43DrzA9cJk6VILaVMgUNxhciBb1dtuHpA0IkLaDF6CenPwiTLoPW0Btkuhr1hB1RtcV9tvvZaLr-kHrTv-PjiH1hpGiQK_FH8gLwkxYXwsFYlcWuAm-8Ocv0g3A-B0XLQRRZiJVEXX6gJNFp7l_pfIy3j2u9Crp_LgH435pKdml4eXiWL5l=s0-d-e1-ft#https://cyclos-dev-hsopt3lqwa-ez.a.run.app/content/images/currentConfiguration/SYSTEM_LOGO?mod=1669764833513&configurationId=-7401171413334927872' alt="">
      <div style="border-style:solid; border-color:lightgray; padding: 20px;">
        <p>
            {{content}}
        </p>
      </div>
      <br>
      <span style="font-style:italic">This email has been automatically sent. Please don't answer</span>
      <br><br>
      <span style="color: gray">AfrikPay SAS, Logpom Douala Cameroon</span>
      <br>
      <span style="color: gray">Web site: </span><a href="https://www.afrikpay.com">https://www.afrikpay.com</a>
      <br>
      <span style="color: gray">Email: contact@afrikpay.com</span>
      <br>
      <span style="color: gray">Phone number: </span><a href="tel:+237658880708">237 658 88 07 08</a>
  </body>
</html>